<div class="container">
    <div class="row d-flex">
        <h4>Prepare By Topics</h4>
    </div>
    <div class="dashboard-topics">
        <ul class="topic-list">
            <li class="topic-card">
                <a class="topic-link" routerLink="/tasks">
                    <div class="topic-item">
                        SQL
                    </div>
                </a>
            </li>
            <li class="topic-card">
                <a class="topic-link" routerLink="/c-plus">
                    <div class="topic-item">
                        C++
                    </div>
                </a>
            </li>
            <li class="topic-card">
                <a class="topic-link" routerLink="/c-sharp">
                    <div class="topic-item">
                        C#
                    </div>
                </a>
            </li>
            <li class="topic-card">
                <a class="topic-link" routerLink="/python">
                    <div class="topic-item">
                        Python
                    </div>
                </a>
            </li>
            <li class="topic-card">
                <a class="topic-link" routerLink="/java">
                    <div class="topic-item">
                        Java
                    </div>
                </a>
            </li>
            <li class="topic-card">
                <a class="topic-link" routerLink="/regex">
                    <div class="topic-item">
                        Regex
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>